<!doctype html>
<html lang="en">

<head>
    <title>Planning Poker</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metatags with site info -->
    <meta property="og:site_name" content="Planning Poker" />
    <meta property="og:title" content="Planning Poker" />
    <meta property="og:description" content="Estimate your tasks with precision and collaboration!" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!--Style-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.5.3.2.min.css') }}">

    <!-- Web Sockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>

<body class="bg-dark-subtle" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-subtle">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="{{ url_for('main.index') }}" style="font-weight: 700;">Planning Poker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li> -->
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                    </li> -->
                </ul>
                <span class="navbar-text me-5">
                    <a href="{{ url_for('main.create_room') }}" class="btn btn-primary" style="color: white;">Create
                        Room</a>
                </span>
                <!--
                <span class="navbar-text">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </span>
                -->
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="mb-5">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>

    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <!-- JS used by Bootstrap -->
    <script src="{{ url_for('static', filename='bootstrap.5.3.2.bundle.min.js') }}"></script>
</body>

</html>